@import "tailwindcss";

/* Base colors */
:root {
  --background: #333;
  --foreground: #0f172a;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, sans-serif;
}


.image-slider-container{
  margin: 20px;
  width:  400px;
}

.image-slider-container .slider-prev:before,
.image-slider-container .slider-next:before{
  color: black;
}